<div class="container">
  <div class="row">
    <div class="col">
      <div class="card radius-15">
        <div class="card-body">
          <div class="media align-items-center">
            <div class="media-body">
              <img class="card-image" src="https://media-cdn.tripadvisor.com/media/photo-w/19/5d/39/59/caption.jpg">
              <h3>Lounge-cafe</h3>
              <p><strong>Скидка для обладателей карты:</strong> 5%</p>
              <p><strong>Оценка:</strong> 4.5/5</p>
              <p><strong>Кухня:</strong> Японская, Суши, Европейская, Центральноевропейская</p>
              <p><strong>Адрес:</strong> Новороссийск ул. Леднева, 5</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card radius-15">
        <div class="card-body">
          <div class="media align-items-center">
            <div class="media-body">
              <img class="card-image" src="https://media-cdn.tripadvisor.com/media/photo-w/1c/20/f0/3e/caption.jpg">
              <h3>Винотеррия</h3>
              <p><strong>Скидка для обладателей карты:</strong> 3%</p>
              <p><strong>Оценка:</strong> 4.5/5</p>
              <p><strong>Кухня:</strong> Европейская, Здоровая</p>
              <p><strong>Адрес:</strong> трассa Новорроссийск-Анапа, 23 напротив пос. Семигорский</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-15">
        <div class="card-body">
          <div class="media align-items-center">
            <div class="media-body">
              <img class="card-image" src="https://media-cdn.tripadvisor.com/media/photo-w/19/cf/57/a1/caption.jpg">
              <h3>Гранд Кафе Абрау-Дюрсо</h3>
              <p><strong>Скидка для обладателей карты:</strong> 5%</p>
              <p><strong>Оценка:</strong> 4.0/5</p>
              <p><strong>Кухня:</strong> Средиземноморская, Европейская</p>
              <p><strong>Адрес:</strong> ул. Промышленная, 19, Абрау-Дюрсо</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card radius-15">
          <div class="card-body">
            <div class="media align-items-center">
              <div class="media-body">
                <img class="card-image"
                     src="https://media-cdn.tripadvisor.com/media/photo-w/11/aa/96/f1/caption.jpg">
                <h3>Конь & Дельфин</h3>
                <p><strong>Скидка для обладателей карты:</strong> 10%</p>
                <p><strong>Оценка:</strong> 3.5/5</p>
                <p><strong>Кухня:</strong> Паб, Морепродукты, Гриль, Центральноевропейская, Европейская</p>
                <p><strong>Адрес:</strong> Набережная Адмирала Серебрякова, 39А</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-15">
          <div class="card-body">
            <div class="media align-items-center">
              <div class="media-body">
                <img class="card-image"
                     src="https://media-cdn.tripadvisor.com/media/photo-w/0e/1a/ef/c8/caption.jpg">
                <h3>Стейк Хаус Рибай</h3>
                <p><strong>Скидка для обладателей карты:</strong> 5%</p>
                <p><strong>Оценка:</strong> 4.5/5</p>
                <p><strong>Кухня:</strong> Стейк-хаус, Европейская, Гриль, Аргентинская</p>
                <p><strong>Адрес:</strong> ул. Толстого, 2Б</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-15">
          <div class="card-body">
            <div class="media align-items-center">
              <div class="media-body">
                <img class="card-image"
                     src="https://media-cdn.tripadvisor.com/media/photo-w/12/49/e0/41/hofmeister-pub.jpg">
                <h3>Hofmeister Pub</h3>
                <p><strong>Скидка для обладателей карты:</strong> 3%</p>
                <p><strong>Оценка:</strong> 4.5/5</p>
                <p><strong>Кухня:</strong> Паб с пивоварней, Европейская, Паб, Бар</p>
                <p><strong>Адрес:</strong> ул. Карла Маркса, 49</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
