<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
<!--    <div class="">-->
<!--      <img src="assets/images/logo-icon.png" class="logo-icon-2" alt="" />-->
<!--    </div>-->
    <div>
      <h4 class="logo-text">Единая карта Новороссийска</h4>
    </div>
    <a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
    </a>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li class="menu-label">Основные функции</li>
    <li routerLink="/weather">
      <a>
        <div class="parent-icon"><i class="bx bx-envelope"></i>
        </div>
        <div class="menu-title">Погода</div>
      </a>
    </li>
    <li>
      <a>
        <div class="parent-icon"> <i class="bx bx-conversation"></i>
        </div>
        <div class="menu-title">Система поощрений</div>
      </a>
    </li>
    <li>
      <a >
        <div class="parent-icon"><i class="bx bx-archive"></i>
        </div>
        <div class="menu-title">Еда</div>
      </a>
    </li>
    <li>
      <a >
        <div class="parent-icon"><i class="bx bx-group"></i>
        </div>
        <div class="menu-title">Экскурсии</div>
      </a>
    </li>
    <li>
      <a>
        <div class="parent-icon"><i class="bx bx-task"></i>
        </div>
        <div class="menu-title">Транспорт</div>
      </a>
    </li>
    <li routerLink="/map">
      <a >
        <div class="parent-icon"><i class="bx bx-file"></i>
        </div>
        <div class="menu-title">Карта города</div>
      </a>
    </li>
    <li>
      <a>
        <div class="parent-icon"> <i class="bx bx-calendar-check"></i>
        </div>
        <div class="menu-title">Расходы</div>
      </a>
    </li>
    <li>
      <a>
        <div class="parent-icon"> <i class="bx bx-calendar-check"></i>
        </div>
        <div class="menu-title">Достижения</div>
      </a>
    </li>
    <li>
      <a>
        <div class="parent-icon"> <i class="bx bx-calendar-check"></i>
        </div>
        <div class="menu-title">Аренда автомобиля</div>
      </a>
    </li>
    <li>
      <a>
        <div class="parent-icon"> <i class="bx bx-calendar-check"></i>
        </div>
        <div class="menu-title">Расписание поездок</div>
      </a>
    </li>

    <li>
      <a>
        <div class="parent-icon"> <i class="bx bx-calendar-check"></i>
        </div>
        <div class="menu-title">Бронирование</div>
      </a>
    </li>

  </ul>
  <!--end navigation-->
</div>



