<div class="container">
  <div class="row">
    <div class="cardContainer inactive">
      <div class="card">
        <div class="side front">
          <div class="img img1"></div>
          <div class="info">
            <h2>Троллейбус</h2>
            <p>Скидка на троллейбусы маршрута №1, 6, 7, 12</p>
          </div>
        </div>
        <div class="side back">
          <div class="info">
            <h2>Проезд на троллейбусе</h2>
            <ul>
              <li>Скидка на троллейбусы 2%</li>
            </ul>
            <div class="btn">
              <h4>Оплатить</h4>
              <svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cardContainer inactive">
      <div class="card">
        <div class="side front">
          <div class="img img2"></div>
          <div class="info">
            <h2>Автобус</h2>
            <p>Скидка на автобусы маршрута №30, 23м, 41м</p>
          </div>
        </div>
        <div class="side back">
          <div class="info">
            <h2>Проезд на автобусе</h2>
            <ul>
              <li>Скидка 5% </li>
            </ul>
            <div class="btn">
              <h4>Оплатить</h4>
              <svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cardContainer inactive">
      <div class="card">
        <div class="side front">
          <div class="img img3"></div>
          <div class="info">
            <h2>Маршрутное такси</h2>
            <p>Скидка на маршрутки №1, 5, 11</p>
          </div>
        </div>
        <div class="side back">
          <div class="info">
            <h2>Проезд на маршрутном такси</h2>
            <ul>
              <li>Пятая поездка бесплатная</li>
            </ul>
            <div class="btn">
              <h4>LОплатить</h4>
              <svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


